body {
	background-color: #F8F8F8;
	color: #000000;
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif;
	font-size: 13px;
	margin: 20px;
	padding: 0px;
}

.content {
	background: #F0F0F0;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid gray;
}

table, img {
	border: none;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #445599;
}

a:visited {
	color: #334466;
}

a:hover, a:active {
	color: #EE2222;
}

a.nav-current, a.nav-current:visited {
	color: #EE2222;
}

.nav {
	font-size: 13px;
}

.nav-current {
	color: #445599;
}

.nav-toolbar {
	background: #F0F0F0;
	border: 1px solid gray;
	padding: 10px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.desc {
	color: #555555;
	font-size: 10px;
}

.index {
	background: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	border: 1px dotted gray;
}

.forumline th, .row-header {
	background-color: #E8E8E8;
	font-weight: bold;
	font-size: 11px;
	height: 24px;
	white-space: nowrap;
}

.forumline td {
	font-size: 11px;
	height: 24px;
}

.row1, .row2, .row3, .row4 {
	background-color: #F8F8F8;
	border: solid 1px #FFFFFF;
	border-right: #D6D6D6;
	border-bottom: #D6D6D6;
	text-align: left;
}

.row-center, .row-center-small, .forumline .row1h-center, .row1h-centerHover {
	text-align: center;
	vertical-align: middle;
}

.gensmall {
	color: #555555;
	font-size: 10px;
}

.genmed {
	color: #555555;
	font-size: 12px;
}

.gen {
	font-size: 12px;
}

.postcontent blockquote {
	color: #444444;
	display: block;
	margin: 5px 20px;
	width: auto;
	border: solid 1px #D0D0D0;
	background: #FFFFFF;
	padding: 5px;
	font-size: 11px;
}

.postcontent blockquote h6 {
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: solid 1px #E0E0E0;
	font-size: 11px;
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #808080;
	background: #FFFFFF;
}

.postcontent .code {
	color: #444444;
	display: block;
	margin: 5px 20px;
	width: auto;
	border: solid 1px #D0D0D0;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: 12px;
	font-family: 'Courier New', sans-serif; color: #226622;
}

.postcontent .code h6 {
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: solid 1px #E0E0E0;
	font-size: 11px;
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #808080;
	background: #FFFFFF;
}

.index ul {
	padding: 8px;
	margin-top: 0px;
	list-style-type: none;
}

div.whosonline {
	background: #FFFFFF;
	border: dotted 1px #888;
	color: #555555;
	font-size: 10px;
	padding: 10px;
}

div.signature {
	background: #FFFFFF;
	border: none;
	padding: 5px;
}

.posttopbar {
	background-color: #E8E8E8;
	padding: 6px;
}

.postname {
	font-weight: bold;
	font-size: 0.9em;
	width: auto;
	float: left;
	margin-top: -3px;
}

.postinfo {
	font-size: 0.8em;
	width: auto;
	float: left;
}

.postdate {
	width: auto;
	font-size: 0.8em;
	color: #555555;
	text-align: right;
}

.postedit {
	width: auto;
	font-size: 0.8em;
	text-align: right;
}

.postwrapper {
	border: 1px solid #E8E8E8;
	padding: 1px;
	margin-bottom: 15px;
}

.postcontent {
	padding: 6px;
	font-size: 13px;
}

ul.posts {
	list-style-type: none;
	margin: 0;
}

li.post {
	border: solid 1px #999999;
	padding: 5px; margin-top: 5px;
	background-color: #F8F8F8;
	list-style-type: none;
}

.pagination {
	text-align: right;
	font-size: 10px;
}

.administer {
	text-align: left;
	font-size: 10px;
}

.catBottom {
	text-align: center;
}

.bottom {
	text-align: right;
	padding: 3px 5px;
	font-size: 10px;
	line-height: 1.4em;
}

.bottom-left {
	position: relative;
	float: left;
	text-align: left;
}

div.post-text, .row-post {
	background: #FFFFFF;
	border: none;
	padding: 5px;
}
