#php_flag register_globals 0
#php_flag register_globals off
#php_flag magic_quotes_gpc on
#php_value memory_limit 16M
#Options +FollowSymlinks

# Disable the files listing feature
#Options All -Indexes

##################################
#      Errors Pages - BEGIN      #
##################################
##################################
# Decomment these lines to enable error document management.
# You can add absolute path if you want always the correct path being parsed.
# Something like:
# ErrorDocument 400 http://www.icyphoenix.com/errors.php?code=400
##################################
#ErrorDocument 400 /errors.php?code=400
#ErrorDocument 401 /errors.php?code=401
#ErrorDocument 403 /errors.php?code=403
#ErrorDocument 404 /errors.php?code=404
#ErrorDocument 500 /errors.php?code=500
##################################
#       Errors Pages - END       #
##################################

RewriteEngine On
#This may cause issues with subdirs and so it is not enabled by default.
#RewriteBase /

#Make sure the whole site goes to www.mysite.com instead of mysite.com. This is good for the search engines
#Edit and uncomment the below lines for your own site.
#Make sure to replace icyphoenix.com with your site address.
#RewriteCond %{HTTP_HOST} ^icyphoenix.com
#RewriteRule (.*) http://www.icyphoenix.com/$1 [R=301,L]

#Permanent redirection (the first line is the old domain, the second one is the new domain)
#RewriteCond %{HTTP_HOST} ^icyphoenix.com [NC]
#RewriteRule ^(.*)$ http://www.icyphoenix.com/$1 [R=301,L]

########## Rewrite rules to block out some common exploits - BEGIN
#
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]
#
########## Rewrite rules to block out some common exploits - END

########## URL Rewrite - BEGIN
RewriteRule ^.+-vf([0-9]*)-vt([0-9]*)-vp([0-9]*) ./viewtopic.php?%{QUERY_STRING}&f=$1&t=$2&p=$3 [L]
RewriteRule ^.+-vf([0-9]*)-vt([0-9]*) ./viewtopic.php?%{QUERY_STRING}&f=$1&t=$2 [L]
RewriteRule ^.+-vf([0-9]*)-vp([0-9]*) ./viewtopic.php?%{QUERY_STRING}&f=$1&p=$2 [L]
RewriteRule ^.+-vc([0-9]*) ./forum.php?%{QUERY_STRING}&c=$1 [L]
RewriteRule ^.+-vf([0-9]*) ./viewforum.php?%{QUERY_STRING}&f=$1 [L]
RewriteRule ^.+-vt([0-9]*) ./viewtopic.php?%{QUERY_STRING}&t=$1 [L]
RewriteRule ^.+-vp([0-9]*) ./viewtopic.php?%{QUERY_STRING}&p=$1 [L]
RewriteRule ^.+-ac([0-9]*) ./album_cat.php?%{QUERY_STRING}&cat_id=$1 [L]
RewriteRule ^.+-aspf([0-9]*) ./album_showpage.php?%{QUERY_STRING}&pic_id=$1&full=true [L]
RewriteRule ^.+-asp([0-9]*) ./album_showpage.php?%{QUERY_STRING}&pic_id=$1 [L]
RewriteRule ^.+-aper([0-9]*) ./album_personal.php?%{QUERY_STRING}&user_id=$1 [L]
RewriteRule ^.+-apic([0-9]*) ./album_pic.php?%{QUERY_STRING}&pic_id=$1 [L]
RewriteRule ^.+-apm([0-9]*) ./album_picm.php?%{QUERY_STRING}&pic_id=$1 [L]
RewriteRule ^.+-at([0-9]*) ./album_thumbnail.php?%{QUERY_STRING}&pic_id=$1 [L]
RewriteRule ^.+-dc([0-9]*) ./dload.php?%{QUERY_STRING}action=category&cat_id=$1 [L]
RewriteRule ^.+-df([0-9]*) ./dload.php?%{QUERY_STRING}action=file&file_id=$1 [L]
RewriteRule ^.+-kbc([0-9]*) ./kb.php?%{QUERY_STRING}mode=cat&cat=$1 [L]
RewriteRule ^.+-kba([0-9]*) ./kb.php?%{QUERY_STRING}mode=article&k=$1 [L]
RewriteRule ^.+-kbsmp ./kb.php?mode=stats&stats=mostpopular [L]
RewriteRule ^.+-kbstr ./kb.php?mode=stats&stats=toprated [L]
RewriteRule ^.+-kbsl ./kb.php?mode=stats&stats=latest [L]
RewriteRule ^.+-pbc([0-9]*) ./kb.php?%{QUERY_STRING}mode=cat&cat=$1 [L]
RewriteRule ^.+-pa([0-9]*) ./kb.php?%{QUERY_STRING}mode=article&k=$1 [L]
RewriteRule ^.+-psmp ./kb.php?mode=stats&stats=mostpopular [L]
RewriteRule ^.+-pstr ./kb.php?mode=stats&stats=toprated [L]
RewriteRule ^.+-pbsl ./kb.php?mode=stats&stats=latest [L]
########## URL Rewrite - END

# Block if useragent and referer are unknown.
# the referer string can cause some problems with mozilla so it has been disabled
#RewriteCond %{HTTP_REFERER} ^.*$ [OR]
#RewriteCond %{HTTP_REFERER} ^-$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^-$ [OR]

# You may want to enable these lines below to disallow php and perl scripts to access your site
#RewriteCond %{HTTP_USER_AGENT} ^.*PHP.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*libwww-perl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^libwww.* [NC]
RewriteRule .* - [F,L]

#SetEnvIfNoCase User-Agent "^libwww-perl*" block_bad_bots
#Deny from env=block_bad_bots

### VIRUS - EXPLOITS - BEGIN
# SANTY
RewriteCond %{HTTP_REFERER} ^.*$
RewriteRule ^.*%27.*$ http://127.0.0.1/ [redirect,last]
RewriteRule ^.*%25.*$ http://127.0.0.1/ [redirect,last]
RewriteRule ^.*rush=.*$ http://127.0.0.1/ [redirect,last]
RewriteRule ^.*echr.*$ http://127.0.0.1/ [redirect,last]
RewriteRule ^.*esystem.*$ http://127.0.0.1/ [redirect,last]
RewriteRule ^.*wget.*$ http://127.0.0.1/ [redirect,last]
RewriteCond %{HTTP_COOKIE}% s:(.*):%22test1%22%3b
RewriteRule ^.*$ http://127.0.0.1/ [R,L]

# Prevent perl user agent (most often used by santy)
RewriteCond %{HTTP_USER_AGENT} ^lwp.* [NC]
RewriteRule ^.*$ http://127.0.0.1/ [R,L]

# This ruleset is to "stop" stupid attempts to use MS IIS expolits on us
# NIMDA
RewriteCond %{REQUEST_URI} /(admin圭md多ttpodbc好siislog字oot存hell)\.(dll圯xe) [NC]
RewriteRule !(error\.php|robots\.txt) /error.php?mode=nimda [L,E=HTTP_USER_AGENT:NIMDA_EXPLOIT,T=application/x-httpd-cgi]

# CODERED
RewriteCond %{REQUEST_URI} /default\.(ida夷dq)$ [NC,OR]
RewriteCond %{REQUEST_URI} /.*\.printer$ [NC]
RewriteRule !(error\.php|robots\.txt) /error.php?mode=codered [L,E=HTTP_USER_AGENT:CODERED_EXPLOIT,T=application/x-httpd-cgi]
### VIRUS - EXPLOITS - END

# User-Agents with no privileges (mostly spambots/spybots/offline downloaders that ignore robots.txt)
# These bots are anoying website harvesting tools, webdownloaders, and a few misc annoyances.
# Bots ignoring robots.txt - BEGIN
#RewriteCond %{HTTP_USER_AGENT} ia_archiver [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^[A-Z]+$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(AcoiRobot|FlickBot|webcollage) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(Alligator|DA.?[0-9]|DC\-Sakura|Download.?(Demon|Express|Master|Wonder)|FileHound) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} .*almaden.* [OR]
RewriteCond %{HTTP_USER_AGENT} anarchie [NC,OR]
RewriteCond %{HTTP_USER_AGENT} AsiaNetBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*attach.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ATHENS [NC,OR]
RewriteCond %{HTTP_USER_AGENT} autohttp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BackWeb.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Bandit.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} bew [NC,OR]
RewriteCond %{HTTP_USER_AGENT} BlackWidow [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Bot\ mailto:craftbot@yahoo.com [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.Browse\s [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Buddy.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Bullseye [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ChinaClaw [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Collector.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Copier.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Crawler.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Crescent [NC,OR]
RewriteCond %{HTTP_USER_AGENT} curl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^DA \d\.\d+" [OR]
RewriteCond %{HTTP_USER_AGENT} devsoft's\ http\ component [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Deweb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Digimarc [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Digger [NC,OR]
RewriteCond %{HTTP_USER_AGENT} digout4uagent [NC,OR]
RewriteCond %{HTTP_USER_AGENT} DIIbot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^DiscoPump.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} DISCo\ pump [NC,OR]
RewriteCond %{HTTP_USER_AGENT} dloader(NaverRobot) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Download\ Demon [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Download" [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Downloader.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} "DTS Agent" [OR]
RewriteCond %{HTTP_USER_AGENT} EasyDL/\d\.\d+ [OR]
RewriteCond %{HTTP_USER_AGENT} eCatch [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ecollector [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Educate\ Search [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EirGrabber [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EmailCollector [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EmailSiphon [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EmailWolf [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EO\ Browse [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.Eval [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(Express|Mister|Web).?(Web|Pix|Image).?(Pictures|Collector)? [NC,OR]
RewriteCond %{HTTP_USER_AGENT} extractor [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ExtractorPro [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EyeNetIE [NC,OR]
RewriteCond %{HTTP_USER_AGENT} fastlwspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} FEZhead [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Fetch [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Fetch\ API\ Request [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*FileHound.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^(Flash|Leech)Get [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Franklin\ Locator [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(Fresh|Lightning|Mass|Real|Smart|Speed|Star).?Download(er)? [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Full\ Web\ Bot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(Gamespy|Go!Zilla|iGetter|JetCar|Net(Ants|Pumper)|SiteSnagger|Teleport.?Pro) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Getleft [NC,OR]
RewriteCond %{HTTP_USER_AGENT} GetRight [NC,OR]
RewriteCond %{HTTP_USER_AGENT} GetURL [NC,OR]
RewriteCond %{HTTP_USER_AGENT} GetWebPage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^GornKer [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*gotit.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Gozilla [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} go-ahead-got-it [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Grabber.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GrabNet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Grafula [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Harvest [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HMView.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} HTML\ Works [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HTTrack.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image.?(fetch|Stripper|Sucker) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} IncyWincy [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Industry\ Program [NC,OR]
RewriteCond %{HTTP_USER_AGENT} InterGET [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Internet\ Explore\ 5\.x [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InternetNinja.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Internet\ Ninja [NC,OR]
RewriteCond %{HTTP_USER_AGENT} InternetSeer.com [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Irvine [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} JOC\ Web\ Spider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JOC.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} KWebGet [NC,OR]
RewriteCond %{HTTP_USER_AGENT} larbin [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Likse.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^LinkWalker [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LWP [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mag-Net.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Magnet.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} MCspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Memo.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Microsoft\ URL [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MIDown\ tool [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mirror.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Missauga\ Locator [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mister\ PiX [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Monster [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla.*NEWT [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla\/3\.0\.\+Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla\/3.Mozilla\/2\.01 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla\/4\.0$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mozilla/4.0$" [OR]
RewriteCond %{HTTP_USER_AGENT} Mozzilla [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MSIECrawler [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^NASA\ Search\ 1\.0$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Navroad.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} NearSite [NC,OR]
RewriteCond %{HTTP_USER_AGENT} net.?(ants|attache|Carta|mechanic|spider|vampire|zip) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} NICErsPRO [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ninja [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Octopus [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} OpaL [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Openfind [NC,OR]
RewriteCond %{HTTP_USER_AGENT} OpenTextSiteCrawler [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PackRat [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PageGrabber [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Papa\ Foto [NC,OR]
RewriteCond %{HTTP_USER_AGENT} pavuk [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PICgrabber [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*pcBrowser.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Plucker [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Pockey.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Production\ Bot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Program\ Shareware [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*prospector [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^psbot [OR]
RewriteCond %{HTTP_USER_AGENT} PushSite [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Reaper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Recorder.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ReGet [NC,OR]
RewriteCond %{HTTP_USER_AGENT} RepoMonkey [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Rover [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Rsync [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Siphon.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Scooter-W3.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ScoutAbout [NC,OR]
RewriteCond %{HTTP_USER_AGENT} searchterms\.it [NC,OR]
RewriteCond %{HTTP_USER_AGENT} semanticdiscovery [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Shai [NC,OR]
RewriteCond %{HTTP_USER_AGENT} sitecheck [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Snake.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} Spegla [NC,OR]
RewriteCond %{HTTP_USER_AGENT} SpiderBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Stripper.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Sucker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperBot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} SuperHTTP [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.Surf [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Surfbot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} SurfWalker [NC,OR]
RewriteCond %{HTTP_USER_AGENT} tAkeOut [NC,OR]
RewriteCond %{HTTP_USER_AGENT} tarspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Templeton [NC,OR]
RewriteCond %{HTTP_USER_AGENT} UtilMind [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Vacuum.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} vayala [OR]
RewriteCond %{HTTP_USER_AGENT} VoidEYE [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Web.?(Auto|Cop|dup|Fetch|Filter|Gather|Go|Leach|Mine|Mirror|Pix|QL|RACE|Sauger) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} web.?(bandit|collector|devil|downloader|hook|mole|reaper|sucker|site|snake|stripper|weasel) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Web.?(site.?(eXtractor|Quester)|Capture|Snake|ster|Strip|Stripper|Suck|vac|walk|Whacker|ZIP) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^WebEMailExtrac.* [OR]
RewriteCond %{HTTP_USER_AGENT} web.by.mail [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Wget.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Whacker.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Widow.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} w3mir [NC,OR]
RewriteCond %{HTTP_USER_AGENT} WhosTalking [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Widow [NC,OR]
RewriteCond %{HTTP_USER_AGENT} WUMPUS [NC,OR]
RewriteCond %{HTTP_USER_AGENT} www\.pl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Xaldon\ WebSpider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} XGET [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Yandex [NC,OR]
RewriteCond %{HTTP_USER_AGENT} zeus [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
# Bots ignoring robots.txt - END

# Rude Bots - BEGIN
RewriteCond %{HTTP_USER_AGENT} Atomz [OR]
RewriteCond %{HTTP_USER_AGENT} FlickBot [OR]
RewriteCond %{HTTP_USER_AGENT} "efp@gmx\.net" [OR]
RewriteCond %{HTTP_USER_AGENT} imagefetch [OR]
RewriteCond %{HTTP_USER_AGENT} "LINKS ARoMATIZED" [OR]
RewriteCond %{HTTP_USER_AGENT} "mister pix" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PersonaPilot [OR]
RewriteCond %{HTTP_USER_AGENT} Sqworm [OR]
RewriteCond %{HTTP_USER_AGENT} SurveyBot [OR]
# Rude Bots - END

# SPAM Referers - BEGIN
RewriteCond %{HTTP_REFERER} ^(.*)4ap.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)9cy.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)allinternal.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)andipink.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)anonym.to(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)appraiserseek.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)asstraffic.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)atspace.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)bablover.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)beyonddc.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)bigcatllc.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)bikinibabes.tv(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)blog.cz(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)bramjnet.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)brutalblowjobs.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)buddy4u.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)cel-blogs.org(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)crossporn.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)dmost.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)dwgn.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)elkam.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)emore.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)estranky.cz(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)ever.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)fateback.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)feelor.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)fest.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)forumw.org(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)fuckherthroat.wildpass.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)fun.org(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)funpic.de(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)gfxgfx.net(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)ies.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)infobox.ru(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)ize.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)jeeran.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)jvl.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)kokoom.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)leenow.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)lynx.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)mail.live.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)map.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)mature-lessons.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)mb.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)mem.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)netster.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)nflook.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)now.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)pages.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)pertest.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)pills.ru(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)porndors.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)qmost.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)qway.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)secure.snatches.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)semiwolf.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)sexy-babes.tv(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)sites.ws(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)skynet.be(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)soltyra.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)sun.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)thecanalgallery.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)this.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)ting.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)town.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)vipsefeed.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)voila.fr(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)volny.cz(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)vy.nu(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)way.org(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)wp.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)wrongsideoftown.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)ymore.info(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)yu.com(.*)$ [OR]
RewriteCond %{HTTP_REFERER} ^(.*)zless.info(.*)$ [OR]
# SPAM Referers - END

# IE's "make available offline" mode
RewriteCond %{HTTP_USER_AGENT} MSIECrawler [OR]

# Unknown bot
RewriteCond %{HTTP_USER_AGENT} ^NG [OR]

# Microsoft Software - BEGIN
RewriteCond %{HTTP_USER_AGENT} FrontPage [OR]
#This one will ban everything microsoft. Use with caution.
#RewriteCond %{HTTP_USER_AGENT} ^(Microsoft|MFC).(Data|URL|WebDAV|Foundation).(Access|Control|MiniRedir|Class) [NC,OR]
# MSOffice
#RewriteCond %{REQUEST_URI} ^/(MSOffice|_vti) [NC,OR]
# Microsoft Software - END

# Various
RewriteCond %{REQUEST_URI} ^/(bin/|cgi/|cgi\-local/|cgi\-bin/|sumthin) [NC,OR]
RewriteCond %{THE_REQUEST} ^GET\ http [NC,OR]
RewriteCond %{REQUEST_URI} /sensepost\.exe [NC,OR]
RewriteCond %{REQUEST_METHOD}!^(GET|HEAD|POST) [NC,OR]

# Cyveillance is a spybot that scours the web for copyright violations and ?damaging information? on
# behalf of clients such as the RIAA and MPAA. Their robot spoofs its User-Agent to look like Internet
# Explorer, and it completely ignores robots.txt. I have banned it by IP address.
RewriteCond %{REMOTE_ADDR} ^63\.148\.99\.2(2[4-9]|[34][0-9]|5[0-5])$ [OR]
RewriteCond %{REMOTE_ADDR} ^63\.226\.3[34]\. [OR]
RewriteCond %{REMOTE_ADDR} ^63\.212\.171\.161$ [OR]
RewriteCond %{REMOTE_ADDR} ^65\.118\.41\.(19[2-9]|2[01][0-9]|22[0-3])$ [OR]

# NameProtect peddles their ?online brand monitoring? to unsuspecting and gullible companies
# looking for people to sue. Despite the claims on their robot information page, they do not
# respect robots.txt; in fact, they spoof their User-Agent in multiple ways to avoid detection.
# I have banned them by User-Agent and IP address.
RewriteCond %{REMOTE_ADDR} ^12\.148\.196\.(12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-5])$ [OR]
RewriteCond %{REMOTE_ADDR} ^12\.148\.209\.(19[2-9]|2[0-4][0-9]|25[0-5])$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^NPBot [NC,OR]

# Web Content International
RewriteCond %{REMOTE_ADDR} ^65\.102\.12\.2(2[4-9]|3[01])$ [OR]
RewriteCond %{REMOTE_ADDR} ^65\.102\.17\.(3[2-9]|[4-6][0-9]|7[01]|8[89]|9[0-5]|10[4-9]|11[01])$ [OR]
RewriteCond %{REMOTE_ADDR} ^65\.102\.23\.1(5[2-9]|6[0-7])$ [OR]

# Wordtracker
RewriteCond %{REMOTE_ADDR} ^128\.242\.197\.101$ [OR]

# Unknown
# unknown.Level3.net
RewriteCond %{REMOTE_ADDR} ^64\.156\.198\.(6[89]|7[0-9]|80)$ [OR]

# host25x.keebler.com
RewriteCond %{REMOTE_ADDR} ^65\.223\.250\.25[0-3]$ [OR]

# Turnitin spybot
RewriteCond %{REMOTE_ADDR} ^64\.140\.49\.6([6-9])$ [OR]
RewriteCond %{HTTP_USER_AGENT} TurnitinBot [OR]

# This ruleset is for formmail script abusers...
# We don't use Perl for Postnuke so this is not really needed.
RewriteCond %{REQUEST_URI} (mail.?form|form|form.?mail|mail|mailto)\.(cgi圯xe如l)$ [NC]

# Used to send these bots to someplace else you can change the url to whatever you would like
#RewriteRule .* http://www.microsoft.com/ [F,R,L]
#RewriteRule /* http://www.geocities.com/WestHollywood/Heights/3204/1home.html [L,R]
#RewriteRule !(errors\.php|robots\.txt) /errors.php?code=404 [L,E=HTTP_USER_AGENT:BAD_USER_AGENT]
#RewriteRule !(errors\.php|robots\.txt) /errors.php?code=404 [L,E=HTTP_USER_AGENT:FORMMAIL_EXPLOIT,T=application/x-httpd-cgi]
# This could also be used to simply deny access to your site instead of the one above
RewriteRule .* - [F,L]

