<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="backup" />
					<add segment="cache" />
					<add segment="cache/cms" />
					<add segment="cache/forums" />
					<add segment="cache/posts" />
					<add segment="cache/sql" />
					<add segment="cache/topics" />
					<add segment="cache/uploads" />
					<add segment="cache/users" />
					<add segment="downloads" />
					<add segment="files" />
					<add segment="files/album/cache" />
					<add segment="files/album/med_cache" />
					<add segment="files/album/users" />
					<add segment="files/album/wm_cache" />
					<add segment="files/images" />
					<add segment="files/screenshots" />
					<add segment="files/thumbs" />
					<add segment="files/thumbs/s" />
					<add segment="logs" />
					<add segment="config.php" />
					<add segment="common.php" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="images/avatars">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="upload" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
