.closebutton {
	/* NOTE! This URL is relative to the HTML page, not the CSS */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/common/highslide/graphics/close.png', sizingMethod='scale');
	background: none;
	cursor: hand;
}