@import url("../default/common.css");
@import url("../common/common_colors.css");
@import url("../common/fap.css");
@import url("../common/dock.css");
@import url("style_gray.css");
@import url("style_gray_colors.css");

#top_logo{
	background: url('images/gray/xmas/xmas_header.png');
}

.forumline .row-header span, .forumlinenb .row-header span {
	background: url('images/gray/xmas/little_box.gif') top left no-repeat;
}

.forumline .catHead span, .forumlinenb .catHead span {
	background: url('images/gray/xmas/little_box.gif') top left no-repeat;
}

.forumline .news-header span, .forumlinenb .news-header span {
	background: url('images/gray/xmas/little_box.gif') top left no-repeat;
}

.tbl-h-c {
	background: url('images/gray/xmas/tbl_h_c.gif') bottom left repeat-x;
}

.nav-header {
	background: #e8eef8 url('images/gray/xmas/bg_nav1_gray.gif');
}

.row-post-author, .row-post {
	background: #ffffff url('images/gray/xmas/bg_post.gif') top left repeat-x;
}

