* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-family: /*"Lucida Grande"*/, Verdana, Helvetica, Arial, sans-serif;
	/*font-size: 62.5%;*/ /* This sets the default font size to be equivalent to 10px */
	font-size: 10px;
}

.sitedes, .maintitle, h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.sitedes {
	font-size: 62.5%;
	float: right;
	position: relative;
	display: inline;
	text-align: right;
	vertical-align: bottom;
	padding: 3px;
}

.maintitle {
	font-size: 2.4em;
	font-weight: bold;
}

.h1 {
	font-size: 2.0em;
	font-weight: bold;
}

.h2 {
	font-size: 1.8em;
	font-weight: bold;
}

.h3 {
	font-size: 1.5em;
	font-weight: bold;
}

.h4 {
	font-size: 1.2em;
}

.h5 {
	font-size: 1.1em;
}

.h6 {
	font-size: 1em;
}

#acp, #forumtable, p, td, th {
	/*font-size: 1.1em;*/
	font-size: 11px;
}

#forumtable {
	width: 100%;
	margin: 0;
	padding: 0;
}

#forumtable p {
	margin: 0;
	text-align: left;
}

#content {
	padding: 2px 7px 5px 7px;
	text-align: center;
}

#content .content-index {
	margin-left: 7px;
	margin-right: 7px;
}

.content-padding {
	padding: 2px;
}

.content-no-padding {
	padding: 0px;
}

.min250 {
	width: 250px;
	min-width: 250px;
}

/* XHTML compliant, define border in CSS */
table, img, .forumline img, .forumlinenb img {
	border: none;
}

.post-text li {
	margin-left: 40px;
}

.post-text li li {
	margin-left: 20px;
}

.post-text li li li {
	margin-left: 20px;
}

.code-row li {
	margin-left: 20px;
}

/*
.gen { font-size: 1.2em; }
.genmed { font-size: 1.1em; }
.gensmall { font-size: 1.0em; }
.gennull{ font-size: 0em; }
*/

.gen { font-size: 12px; }
.genmed { font-size: 11px; }
.gensmall { font-size: 10px; }
.gennull{ font-size: 0px; }

.center-block {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center-block-text {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.error-message {
	font-size: 12px;
	font-weight: bold;
}

hr {
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}

/* IMG Fading - BEGIN */
.imgfade{filter: alpha(opacity=80); -moz-opacity: 0.80; margin-left: 3px;}
.imgfull{filter: alpha(opacity=100); -moz-opacity: 1; margin-left: 3px;}
.imgfade_nm{filter: alpha(opacity=80); -moz-opacity: 0.80;}
.imgfull_nm{filter: alpha(opacity=100); -moz-opacity: 1;}
/* IMG Fading - END */

/* phpbbstyles.com bbcode */
.post-text {
	width: 99%;
	float: left;
	clear: both;
	font-size: 12px;
	/*line-height: 1.2em;*/
	/* to avoid vertical scrollbar with acronyms in last line */
	padding-bottom: 3px;
}

.post-text-hide-flow {
	overflow: auto;
	max-width: 740px;
}

/* main tables/divs */
.graph table{
	border: none;
	margin: 0px;
}

.graph td{
	border: none;
	margin: 0px;
}

.no-width { margin: 5px auto; }
.forumline td { padding: 2px; }
.forumline-no2 td { padding: 2px; }

.empty-table td {
	/*padding: 3px 0;*/
}

.bbcbmg td {
	padding: 3px 0;
}

.poll-table td {
	padding: 3px 10px;
	text-align: left;
	font-size: 11px;
}

/* pagination */
.pagination {
	font-size: 12px;
	line-height: 2em;
	font-weight: bold;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 3px;
}

.gotopage {
	display: block;
	font-size: 10px;
	line-height: 2em;
	margin: 3px 0 1px 0;
}

* html .gotopage { margin-top: 5px; margin-bottom: 2px; }

/* inputs */
form {
	display: inline;
}

input, select, textarea {
	font-family: /*"Lucida Grande",*/ Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin: 0;
	/* box-sizing: content-box; */
	-moz-box-sizing: content-box;
}

input, select {
	vertical-align: middle;
}

textarea {
	overflow: auto;
}

select {
	cursor: pointer;
}

option {
	padding-right: 1em;
}

/* inputs - fixing height and padding */
* html input.mainoption, * html input.altoption, * html input.liteoption { height: 20px; padding-left: 3px; padding-right: 3px; margin: 2px; vertical-align: middle;}
input.mainoption, input.altoption, input.liteoption { height: 18px; padding-left: 3px; padding-right: 3px; margin: 2px; vertical-align: middle; }
input.post { height: 18px; padding-left: 3px; padding-right: 3px; margin: 2px; vertical-align: middle; }
* html input.jumpbox { height: 20px; padding-left: 3px; padding-right: 3px; margin: 2px; vertical-align: middle; }
input.jumpbox { height: 18px; padding-left: 3px; padding-right: 3px; margin: 2px; vertical-align: middle; }
select option { height: 16px; padding-left: 3px; padding-right: 3px; vertical-align: middle; }

/* private message popup */
.popup, .popuppm { display: none; }

.popuppm-new {
	display: block;
	text-align: center;
	margin: 50px;
}

/* Yellow Card Mod - Changes for CA Styles */
.img-ban a img { background-color: #990000; }
.img-ban a:hover img { background-color: #FF0000; }
.img-ban a:active img { background-color: #990000; }

.img-warn a img { background-color: #FF9900; }
.img-warn a:hover img { background-color: #FFFF00; }
.img-warn a:active img { background-color: #FF9900; }

.img-clear a img { background-color: #FFCC33; }
.img-clear a:hover img { background-color: #FF7E00; }
.img-clear a:active img { background-color: #FFCC33; }

.img-report a img { background-color: #000099; }
.img-report a:hover img { background-color: #0000FF; }
.img-report a:active img { background-color: #000099; }

.img-green a img { background-color: #009900; }
.img-green a:hover img { background-color: #00FF00; }
.img-green a:active img { background-color: #009900; }

.highlight-w {
	color: #dd2222;
	background-color: #ffffaa;
	font-weight: bold;
}

/* BBCode Buttons */
.bbimages {
	display: inline;
	border: 0px;
	margin: 0px auto;
}

.bbimages:hover {
	display: inline;
	border: 0px;
	margin: 0px auto;
}

/* Nav Menu */
.nav-menu {
	display: inline;
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
}

a.nav-menu-link {
	vertical-align: top;
	text-decoration: none;
}

.max-min-right {
	display: inline;
	float: right;
	cursor: pointer;
}

.js-sh-box {
	display: inline;
	position: relative;
}

/* Sitemap */
h2.sitemap, h2.maximise, h2.minimise {
	background: url('images/maximise.gif') no-repeat center left;
	cursor: pointer;
	padding-left: 15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

h2.minimise {
	background: url('images/minimise.gif') no-repeat center left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

ul.sitemap {
	list-style-type: none;
	margin-left: 0.5cm;
	padding-left: 0;
}

ul.sitemap li {
	padding-left: 1.1em;
	font-family: Tahoma, Arial;
	font-size: 11px;
}

ul.sitemap li a {
	background: transparent url(images/sitemapdocbullet.gif) no-repeat;
	/*margin-left: -1.1em;*/
	padding-left: 2.2em;
}

ul.sitemap li img {
	padding-right: 2px;
}

ul.sitemap li a:hover {
	background: transparent url(images/sitemapdocbullethover.gif) no-repeat;
}

ul.sitemap li.parent {
	margin-left: -20px;
}

ul.sitemap li a.parent {
	background: transparent;
	padding-left: 2px;
}

ul.sitemap li ul {
	background: transparent /*url(images/sitemapfolderbullet.gif)*/ no-repeat;
	list-style-type: none;
	margin: -1.4em 0 0 -1.3em;
	padding: 1.4em 0 0 0.6em;
}

ul.sitemap li ul:hover {
	background: transparent /*url(images/sitemapfolderbullethover.gif)*/ no-repeat;
}

ul.sitemap li ul li {
	margin-left: 0.5cm;
	padding-left: 5px;
}

@media all and (min-width: 0px) { .code-list { margin-left: 40px; } }
@media all and (min-width: 0px) { html>body input.post { height: 18px; } }
@media all and (min-width: 0px) { html>body input.jumpbox { height: 15px; } }

